*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-1: 255, 255, 255;
    --color-2: 0, 0, 0;
    --color-3: 52, 152, 219;
    --color-4: 35, 132, 198;
    --color-5: 0, 188, 140;
    --color-6: 0, 112, 83;
    --color-7: 232, 62, 140;
    --color-8: 73, 80, 87;
    --color-9: 68, 68, 68;
    --color-10: 173, 181, 189;
    --color-11: 243, 156, 18;
    --color-12: 212, 134, 11;
    --color-13: 231, 76, 60;
    --color-14: 225, 46, 28;
    --color-15: 0, 123, 255;
    --color-16: 29, 147, 210;
    --color-17: 255, 42, 104;
    --color-18: 255, 94, 58;
    --color-19: 40, 167, 69;
    --color-20: 132, 180, 45;
}
@mixin section-height($height) {
    height: $height;
}
.section {
    width: 100vw;
    background: url("../assets//images/rf-online-bg-5.webp") no-repeat top/cover fixed;
    position: relative;
    @include section-height(100vh);
    .container {
        width: 100%;
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        .card {
            padding: 20px;
            background: transparent;
            border: solid 1px rgba(var(--color-2), 0.5);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            .logo {
                margin-bottom: 16px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .heading {
                width: fit-content;
                margin: 0 auto 24px;
                color: rgb(var(--color-1));
                font-size: 28px;
                line-height: 1.2;
                text-align: center;
                border-bottom: solid 4px rgb(var(--color-13));
                @media(min-width: 500px) {
                    font-size: 32px;
                }
            }
            .instruction {
                width: 100%;
                padding: 20px;
                margin-bottom: 16px;
                font-size: 15px;
                line-height: 1.5;
                font-weight: 600;
                color: rgb(var(--color-1));
                background-color: rgb(var(--color-5));
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                @media(min-width: 500px) {
                    font-size: 16px;
                }
            }
            .card-body {
                padding: 0;
                font-size: 15px;
                line-height: 1.5;
                .login {
                    .login-form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .form-floating-group {
                            position: relative;
                            .form-control {
                                height: 40px;
                                margin: 0 0 16px;
                                padding: 8px 12px;
                                border: solid 1px rgb(var(--color-2));
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
                                &:focus {
                                    box-shadow: none;
                                }
                            }
                            .form-control:focus ~ .form-label {
                                top: -14px;
                                font-weight: 600;
                                color: rgb(var(--color-2));
                                background: linear-gradient(to bottom, rgba(var(--color-1), 0) 59%, rgb(var(--color-1)) 41%);
                            }
                            .form-label {
                                margin: 0;
                                padding: 0 6px;
                                position: absolute;
                                top: 8px;
                                left: 12px;
                                z-index: 2;
                                color: rgb(var(--color-8));
                                background-color: transparent;
                                cursor: text;
                                transition: top 0.2s ease-in-out ;
                                -webkit-transition: top 0.2s ease-in-out ;
                                -moz-transition: top 0.2s ease-in-out ;
                                -ms-transition: top 0.2s ease-in-out ;
                                -o-transition: top 0.2s ease-in-out ;
                            }
                            .active-form-label {
                                top: -14px;
                                font-weight: 600;
                                color: rgb(var(--color-2));
                                background: linear-gradient(to bottom, rgba(var(--color-1), 0) 59%, rgb(var(--color-1)) 41%);
                            }
                        }
                        .server-label {
                            background: rgb(var(--color-1));
                            height: 40px;
                            margin-bottom: 16px;
                            padding: 8px 12px;
                            border: solid 1px rgb(var(--color-2));
                            border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            -ms-border-radius: 4px;
                            -o-border-radius: 4px;
                        }
                        .buttons {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            .login-btn, .register-btn {
                                font-size: 15px;
                                line-height: 1.5;
                            }
                            .login-btn {
                                width: 100%;
                                max-width: 295px;
                                margin-right: 10px;
                                color: rgb(var(--color-1));
                                background-color: rgb(var(--color-3));
                                svg {
                                    width: 16px;
                                    height: 16px;
                                    margin-top: -3px;
                                    color: rgb(var(--color-1));
                                }
                                &:hover {
                                    background-color: rgb(var(--color-4));
                                }
                            }
                            .register-btn {
                                width: 70%;
                                max-width: 132px;
                                padding: 6px 12px;
                                text-align: center;
                                text-decoration: none;
                                color: rgb(var(--color-5));
                                border: solid 1px rgb(var(--color-5));
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
                                svg {
                                    width: 18px;
                                    height: 18px;
                                    margin-top: -5px;
                                    color: rgb(var(--color-5));
                                }
                                &:hover {
                                    color: rgb(var(--color-1));
                                    background-color: rgb(var(--color-5));
                                    svg {
                                        color: rgb(var(--color-1));
                                    }
                                }
                            }
                        }
                    }
                    .recovery-btns {
                        margin-top: 8px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 2px;
                        .recover-password, .recover-fireguard {
                            width: 148px;
                            padding: 0;
                            color: rgb(var(--color-5));
                            font-size: 15px;
                            line-height: 1.5;
                            svg {
                                width: 12px;
                                height: 14px;
                                margin-top: -3px;
                                color: rgb(var(--color-5));
                            }
                            &:hover {
                                color: rgb(var(--color-6));
                                svg {
                                    color: rgb(var(--color-6));
                                }
                            }
                        }
                    }
                }
                .registration {
                    .registration-form {
                        display: flex;
                        gap: 8px 17px;
                        flex-wrap: wrap;
                        .form-group {
                            width: 100%;
                            label {
                                margin-bottom: 4px;
                                color: rgb(var(--color-1));
                                @media (min-width: 500px) {
                                    margin-bottom: 8px;
                                }
                            }
                            .input-group {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                border: solid 1px rgb(var(--color-2));
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
                                .input-group-svg {
                                    padding: 7px 11px;
                                    background-color: rgb(var(--color-9));
                                    svg {
                                        width: 16px;
                                        height: 16px;
                                        color: rgb(var(--color-10));
                                    }
                                }
                                .form-control {
                                    margin: 0;
                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                        .password-from-div {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 16px 17px;
                            .form-group {
                                width: 100%;
                                @media (min-width: 500px) {
                                    width: 48%;
                                }
                            }
                        }
                        @media (min-width: 500px) {
                            gap: 16px 17px;
                        }
                    }
                    .terms {
                        width: 100%;
                        margin-top: 6px;
                        font-size: 14px;
                        line-height: 1.5;
                        text-align: left;
                        color: rgb(var(--color-1));
                        span {
                            color: rgb(var(--color-5));
                        }
                        @media (min-width: 500px) {
                            margin-top: 12px;
                            font-size: 15px;
                        }
                    }
                    .buttons {
                        width: 100%;
                        margin-top: 16px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        .registration-btn, .back-btn {
                            width: fit-content;
                            display: inline-flex;
                            align-items: center;
                            color: rgb(var(--color-1));
                            font-size: 15px;
                            line-height: 1.5;
                            svg {
                                width: 14px;
                                height: 14px;
                                margin-right: 4px;
                            }
                        }
                        .registration-btn {
                            background-color: rgb(var(--color-5));
                            &:hover {
                                background-color: rgb(var(--color-6));
                            }
                        }
                        .back-btn {
                            padding: 6px 12px;
                            background-color: rgb(var(--color-13));
                            text-decoration: none;
                            border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            -ms-border-radius: 4px;
                            -o-border-radius: 4px;
                            &:hover {
                                background-color: rgb(var(--color-14));
                            }
                        }
                    }
                }
                .password-recovery {
                    .password-recovery-form {
                        display: flex;
                        gap: 16px 17px;
                        flex-wrap: wrap;
                        .form-group {
                            width: 100%;
                            label {
                                margin-bottom: 4px;
                                color: rgb(var(--color-1));
                                @media (min-width: 500px) {
                                    margin-bottom: 8px;
                                }
                            }
                            .input-group {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                border: solid 1px rgb(var(--color-2));
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
                                .input-group-svg {
                                    padding: 7px 11px;
                                    background-color: rgb(var(--color-9));
                                    svg {
                                        width: 16px;
                                        height: 16px;
                                        color: rgb(var(--color-10));
                                    }
                                }
                                .form-control {
                                    margin: 0;
                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }
                        }
                        > :nth-child(2), > :nth-child(3) {
                            width: 100%;
                            @media (min-width: 500px) {
                                width: 48%;
                            }
                        }
                    }
                    .buttons {
                        width: 100%;
                        margin-top: 16px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        column-gap: 18px;
                        .back-btn, .recover-button {
                            width: fit-content;
                            display: inline-flex;
                            align-items: center;
                            font-size: 15px;
                            line-height: 1.5;
                            color: rgb(var(--color-1));
                            svg {
                                width: 14px;
                                height: 14px;
                                margin-right: 4px;
                            }
                        }
                        .back-btn {
                            padding: 6px 12px;
                            background-color: rgb(var(--color-13));
                            text-decoration: none;
                            border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            -ms-border-radius: 4px;
                            -o-border-radius: 4px;
                            &:hover {
                                background-color: rgb(var(--color-14));
                            }
                        }
                        .recover-button {
                            background-color: rgb(var(--color-11));
                            &:hover {
                                background-color: rgb(var(--color-12));
                            }
                        }
                    }
                }
                .fireguard-recovery {
                    .fireguard-recovery-form {
                        display: flex;
                        gap: 16px 17px;
                        flex-wrap: wrap;
                        .form-group {
                            width: 100%;
                            label {
                                margin-bottom: 4px;
                                color: rgb(var(--color-1));
                                @media (min-width: 500px) {
                                    margin-bottom: 8px;
                                }
                            }
                            .input-group {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                border: solid 1px rgb(var(--color-2));
                                border-radius: 4px;
                                -webkit-border-radius: 4px;
                                -moz-border-radius: 4px;
                                -ms-border-radius: 4px;
                                -o-border-radius: 4px;
                                .input-group-svg {
                                    padding: 7px 11px;
                                    background-color: rgb(var(--color-9));
                                    svg {
                                        width: 16px;
                                        height: 16px;
                                        color: rgb(var(--color-10));
                                    }
                                }
                                .form-control {
                                    margin: 0;
                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }
                            @media (min-width: 500px) {
                                width: 48%;
                            }
                        }
                    }
                    .buttons {
                        width: 100%;
                        margin-top: 16px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        column-gap: 15px;
                        .back-btn, .recover-button {
                            width: fit-content;
                            display: inline-flex;
                            align-items: center;
                            font-size: 15px;
                            line-height: 1.5;
                            color: rgb(var(--color-1));
                            svg {
                                width: 14px;
                                height: 14px;
                                margin-right: 4px;
                            }
                        }
                        .back-btn {
                            padding: 6px 12px;
                            background-color: rgb(var(--color-13));
                            text-decoration: none;
                            border-radius: 4px;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            -ms-border-radius: 4px;
                            -o-border-radius: 4px;
                            &:hover {
                                background-color: rgb(var(--color-14));
                            }
                        }
                        .recover-button {
                            background-color: rgb(var(--color-11));
                            &:hover {
                                background-color: rgb(var(--color-12));
                            }
                        }
                    }
                }
            }
        }
        h6 {
            width: 100%;
            margin: 12px 0 0;
            font-size: 13px;
            line-height: 1.5;
            text-align: center;
            color: rgb(var(--color-7));
            a {
                text-decoration: none;
                color: rgb(var(--color-5)) !important;
                cursor: pointer;
                &:hover {
                    color: rgb(var(--color-6)) !important;
                    text-decoration: underline;
                }
            }
        }
    }
    .toast-container {
        width: 100%;
        max-width: 400px;
        .toast {
            width: 100%;
            margin-bottom: 12px;
            position: relative;
            flex-direction: row;
            align-items: center;
            .toast-header {
                padding: 0 0 0 16px;
                background: none;
                svg {
                    width: 35px;
                    height: 35px;
                    color: rgb(var(--color-1));
                }
            }
            .toast-body {
                padding: 12px 16px;
                h6, p {
                    margin: 0;
                    color: rgb(var(--color-1));
                    font-size: 15px;
                    line-height: 1.5;
                }
                h6 {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .close-toast-btn {
                position: absolute;
                top: 0;
                right: 5px;
                width: 30px;
                height: 30px;
                padding: 0;
                background: none;
                color: rgba(var(--color-1), .5);
            }
        }
        .authenticate-toast {
            background: linear-gradient(to bottom right, rgb(var(--color-15)), rgb(var(--color-16)));
        }
        .failed-toast {
            background: linear-gradient(to bottom right, rgb(var(--color-17)), rgb(var(--color-18)));
        }
        .success-toast {
            background: linear-gradient(to bottom right, rgb(var(--color-19)), rgb(var(--color-20)));
        }
    }
    .show {
        display: flex;
    }
}
.registration-page {
    @media (max-height: 643px) {
        @include section-height(120vh);
        @media (min-width: 500px) {
            @include section-height(110vh);
        }
    }
    .container .card {
        padding: 0;
        .card-body {
            padding: 0 20px 20px;
        }
    }
}